.intro{
    font-family: Lemonada, cursive;
    font-size:14px;                  
    text-align: justify;
    text-justify: auto;  
    line-height: 32px; 
    color:#262228;
}

.careerLink{
    font-size:11px;
    font-family: Lemonada, cursive;
    color:#666;
    padding-top:20px;
}