.navList{
    width:100%;
    display:flex;
    justify-content: space-between;    
    align-items: center;
    width: 24vw;      
    display:none;
}

.link{
    color:#444;     
    font-size:16px;    
    font-weight: bold;        
    font-family:'oneday','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing:2px ;
    transition:all .1s; 
}
.link:hover{
    color:inherit;        
    text-shadow:5px 5px 15px #0002; 
}
.link:active{
    color:green;
    font-weight:bold;                    
    text-shadow:5px 5px 15px #0006;   
}

@media screen and (min-width:1025px){
    .navList{
        display:flex;
    }
    .navbutton{
        display:none !important;
    }   
}
