.navList{
    width:100%;
    display:flex;
    justify-content: space-between;    
    align-items: center;
    width: 24vw;      
    display:none;
}
.link{
    color:#444;     
    font-size:19px;        
    font-weight:400;
    font-family:Roboto Slab;
    transition:all .1s; 
}

.link:hover{
    color:inherit;
    font-weight:bold;     
    text-shadow:5px 5px 15px #0002; 
}
.link:active{
    color:green;
    font-weight:bold;                    
    text-shadow:5px 5px 15px #0006;   
}

@media screen and (min-width:1025px){
    .navList{
        display:flex;
    }
    :global .navbutton{
        display:none !important;
    }   
}
