.ul{                                     
    width:100%;       
}
.linkDiv{    
    height:50px;    
    display:flex;
    justify-content: center;
    align-items: center;   
    transition: transform .2s;
}
.linkDiv:hover{
    transform: scale(1.04)
}

.anchor{
    font-size: 14px;        
    color: #fff;
    transition: font-size, .1s;    
}
.anchor:hover{         
    color:#fff;        
    border-bottom: 1px solid #fff;
}


@media screen and (min-width:391px){
    .anchor{
        font-size: 16px;        
    }
}
@media screen and (min-width:800px){
    .anchor{
        font-size: 18px;        
    }
}
@media screen and (min-width:1101px){
    .linkDiv{
        margin:0px 5px;
    }
}