.outerDiv{
    display:flex;    
    flex-direction:column;      
    justify-content:space-evenly; 
    align-items: center;
    width:40px;    
    height:220px;
    margin:0px;            
    background-color:orange;    
}