.ul{                                     
    width:100%;       
}
.linkDiv{    
    height:50px;    
    display:flex;
    justify-content: center;
    align-items: center;        
    border:1px solid black;
}

.anchor{
    font-size: 13px;
    font-weight: bold;
    color: #222;
    transition: font-size, .1s;
}
.anchor:hover{
    font-size:18px;
    color:black;    
}
.activeStyle{
    color:rgb(11, 228, 109)
}

@media screen and (min-width:391px){
    .anchor{
        font-size: 14px;        
    }
}
@media screen and (min-width:800px){
    .anchor{
        font-size: 16px;        
    }
}
@media screen and (min-width:1101px){
    .linkDiv{
        margin:0px 5px;
    }
}