.main{
    display: flex;  
    flex-direction: column;                
    width:100%;     
    padding-top:40px;           
}

.imgParaDiv{                             
      display:flex;      
      flex-direction: column;       
      align-items: center;            
}

.myImageDiv{            
      display:flex;      
      justify-content: center;
      align-items: center;           
      padding-bottom:28px;               
}
.paraDiv{      
      display:flex;           
      width:100%;                   
      font-size:16px;                   
      color:#444;       
      text-align: justify;
      text-justify: auto;                              
}
.uiDivider{
      composes: ui horizontal section divider from global;                 
}
.interests{
      padding:10px 0px;
}
.profileLinksDiv{
      display:flex;
      align-items: center;      
      position:fixed;
      top: 11vh;      
      bottom:0vh;
      right:0px;
}
.main:target{            
    padding-top: 100px;
    margin-top:-100px;          
}

@media screen and (min-width: 901px) {   
    .main{
        padding-top:70px;
    }  
    .imgParaDiv{
        flex-direction: row;                
        height:100%;              
    }    
    .myImageDiv{
        padding-right: 30px;
        padding-bottom:0px;            
    }
    .paraDiv{
        width:auto;              
    }   
    .profileLinksDiv{
        right:50px;
    }
}
@media screen and (min-width: 1101px) {
    .profileLinksDiv{
        right:110px;
    }
}