/* trash
.head{          
    font-size:22px;
    font-weight:bold;
    color:orange;
    display:flex;
    justify-content: center;
    align-items: center;          
    height:14vh;
    margin-bottom:20px;
} */

.main{   
   margin-top:6vh;
   display:grid;      
   grid-template-rows: 79vh;   
   grid-template-columns:repeat(auto-fit,minmax(300px,1fr));      
   background-image: linear-gradient(to left, rgb(182, 244, 146), rgb(51, 139, 147));   
}




