.main{
    display:flex;    
    margin:30px 10px;         
}
.anchorDiv{
    width:200px;  
    height:80vh;    
    display:flex;
    justify-content: center;
    align-items: center;                         
}
.dividerDiv{
    display: flex;
    justify-content: center;
    align-items: center;   
    width:8px;    
    height:80vh;             
}
.divider{    
    width:2px;
    height:180px;    
    background-color: #999;      
    position:fixed;
}

.internalDivs{
    display:flex;
    flex-direction: column;    
}


@media screen and (min-width:901px) and (max-width: 1024px){
    .main{        
        margin:30px 110px;
    }        
}
@media screen and (min-width: 1025px){
    .main{        
        margin:30px 170px;
    }
}




