.anchorDiv{
    left:10px;
    width:80px;        
    position:fixed;  
    top:11vh;
    bottom:0vh;
    display:flex;    
    align-items: center;    
    justify-content: center;
                 
}

.dividerRight{     
    width:1px;       
    background-color: #999;      
    position:fixed;
    left:90px;  
    top:44vh;
    bottom:32vh;  
}


.internalDivs{
    display:flex;
    flex-direction: column;        
    position:absolute;   
    left: 90px; 
    right:10px;    
}


@media screen and (min-width:901px){        
    .anchorDiv{
        left:110px;
        width:120px;
    }
    .internalDivs{
        left: 230px;
        right: 110px;
    }
    .dividerLeft{
        width:1px;       
        background-color: #999;      
        position:fixed;
        left:227px;  
        top:49vh;
        bottom:37vh;  
    }
    .dividerRight{
        left:232px;
    }
}
@media screen and (min-width: 1025px){
    .anchorDiv{
        left:170px;
        width:130px;
    }
    .internalDivs{
        left: 300px;
        right:170px;
    }
    .dividerLeft{
        left:297px;                
    }
    .dividerRight{
        left:302px;                
    }
}



