.anchorDiv{
    left:10px;
    width:80px;        
    position:fixed;  
    top:11vh;
    bottom:0vh;
    display:flex;    
    align-items: center;    
    justify-content: center;
                 
}

.dividerRight{     
    width:1px;       
    background-color: #999;      
    position:fixed;
    left:90px;  
    top:44vh;
    bottom:32vh;  
}


.internalDivs{
    display:flex;
    flex-direction: column;        
    position:absolute;   
    left: 110px; 
    right:45px;    
}

@media screen and (min-width:901px){        
    .anchorDiv{
        left:50px;
        width:90px;
    }
    .internalDivs{
        left: 170px;
        right: 100px;
    }
    .dividerLeft{
        width:1px;       
        background-color: #999;      
        position:fixed;
        left:137px;  
        top:49vh;
        bottom:37vh;  
    }
    .dividerRight{
        left:142px;
    }
}

@media screen and (min-width:1101px){        
    .anchorDiv{
        left:110px;
        width:110px;
    }
    .internalDivs{
        left: 260px;
        right: 170px;
    }
    .dividerLeft{
        width:1px;       
        background-color: #999;      
        position:fixed;
        left:217px;  
        top:49vh;
        bottom:37vh;  
    }
    .dividerRight{
        left:222px;
    }
}




