.unorderedList{
    display:flex;    
    flex-direction:column;      
    justify-content: space-between;
    align-items: center;
    height:175px;         
    padding:13px 0px;
    width:28px;     
    margin:0px;                    
    background:linear-gradient(to right,#fafafa,#e2e2e2,#eaeaea,#fafafa);
    font-size: 17px;    
}
.listItem{
    list-style-type: none;
}