.main{
    display:flex;
    flex-direction: column;
}

.authIntro{    
    display: flex;
    flex-direction: column;    
    justify-content: center; 
    align-items:center;   
    font-size:18px;
    text-align: center;    
}
.imgStyle{
    height:480px;
    width:640px;
    max-width:100%;
}
.header{
    display:flex;             
    justify-content: center;          
    align-items:center;    
    height:15vh;      
}
.formDiv{
    composes: ui segment teal from global;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 0px !important;
    margin-top:50px !important;
    width:45vw;
    min-width:250px;
    max-width: 350px;
    align-self: center;
}
.buttonDiv{
    display:flex;
    justify-content: center;
}

