.detailsMain{   
    max-height:500px;         
    display:grid;       
    grid-template-rows: 5fr 13fr 3fr 3fr;
    grid-template-columns: 1fr 6fr 1fr;    
    grid-template-areas:
         ". head ."        
         ". info ."
         ". icon ." 
         ". brdr  ." ;           
 }
 .contactInfoHeader{
    grid-area:head;
    display:flex;   
    align-items:center;
    font-weight: bold;
    font-size:1.125rem;   
 }
 .contactIcons{
    grid-area:icon;
    display:flex;
    align-items:center;            
 }
 .mainInfo{
    grid-area:info;
    display:grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
             "pn pv pv pv pv"
             "an av av av av"
             "mn mv mv mv mv"
             "en ev ev ev ev"
             "sn sv sv sv sv";             
 }
 .brdr{
    grid-area:brdr;
    border-bottom:1px solid #555;
}
 
 .phnName{
    grid-area:pn;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .phone{
    grid-area:pv;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .addrName{
    grid-area:an;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .addr{
    grid-area:av;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .msgName{
    grid-area:mn;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .msg{
    grid-area:mv;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .emailName{
    grid-area:en;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .email{
    grid-area:ev;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .socialName{
    grid-area:sn;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }
 .social{
    grid-area:sv;
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }

 @media screen and (min-width:715px){
    .brdr{
      border-bottom:none;
    }
 }