.intro{
    font-family:aladin,comic sans ms, sans-serif;
    font-size:20px;                     
    text-align: justify;
    text-justify: auto;   
    color:#262228;
}

.careerLink{
    font-size:14px;
    color:#666;
}