.header{
    display:flex;             
    justify-content: center;          
    align-items:center;    
    height:15vh;          
}
.authIntro{    
    display: flex;
    flex-direction: column;    
    justify-content: center; 
    align-items:center;   
    font-size:18px;
    text-align: center;    
}
.formDiv{
    composes: ui segment teal from global;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top:50px !important;
    width:45vw;    
    min-width:250px;
    max-width: 320px;
    margin-left:auto !important;
    margin-right:auto !important;
}
.buttonDiv{
    display:flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom:10px;
}
.error{
    height:30px;
    width:100%;
    text-align: center;
    color:red;
}