@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

/* @font-face{
    font-family: ;
    src: url(../assets/fonts/) format("woff2"),
         url(../assets/fonts/) format("woff"),
         url(../assets/fonts/) format("truetype"),   
         url(../assets/fonts/) format("opentype")
         url(../assets/fonts/) format("embedded-opentype"),
         url(../assets/fonts/) format("svg");
} */

@font-face{
    font-family: 'jaapokki';
    src: url(../assets/fonts/jaapokki/jaapokki-regular.woff) format("woff"),         
         url(../assets/fonts/jaapokki/jaapokki-regular.ttf) format("truetype"),
         url(../assets/fonts/jaapokki/jaapokki-regular.eot) format("embedded-opentype");
}

@font-face{
    font-family: 'gagalin regular';
    src: url(../assets/fonts/gagalin/gagalin-regular.ttf) format("truetype");         
}

@font-face{
    font-family: 'oneday';
    src: url(../assets/fonts/oneday/ONEDAY.ttf) format("truetype");    
}



