.anchorDiv{    
    left:10px;  
    min-width:80px;         
    position:fixed;  
    top:11vh;
    bottom:0vh;
    display:flex;    
    align-items: center;                          
}

.internalDivs{
    display:flex;
    flex-direction: column;        
    position:absolute;   
    left: 110px;     
    right:10px;
}

@media screen and (min-width:901px){          
    .anchorDiv{        
        left:70px;     
        width:100px;   
    }
    .internalDivs{
        left: 210px;    
        right:70px;    
    }    
}

@media screen and (min-width:1101px){     
    .anchorDiv{        
        left:120px;    
        width:120px;         
    }
    .internalDivs{
        left: 290px;   
        right:120px;     
    }    
}




