.main{     
    background:#f4b418;  
    max-height:500px;     
    display:grid;
    grid-template-rows: 5fr 18fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;         
}
.header{
    grid-row:1/2;
    grid-column:1/-1;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.125rem;
    font-weight:bold;      
    color:#143859; 
}
.contactForm{   
    composes:ui form from global;        
    grid-row:2/3;
    grid-column: 2/3;               
}


