.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.authIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.alert {
  height: 50px;
  display: flex;
  align-items: center;
}
