.main{
    display:flex;
    flex-direction:column;    
}
.name{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    font-family: Merienda,cursive;
    font-weight:bold;
    font-style: italic;
    height:18vh;    
}
.text{
    font-size:16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;        
}