.homeDiv{
    height:100vh;
    background-color:#60a677;
    background:linear-gradient(to bottom,#60a677,#226051,#226051,#60a677);
    display:grid;
    grid-template-rows: 22vh 50px 100px auto 80px;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: 
                  ". . . . . . . . . . . ."
                  ". m m m m m m m m m m ."   
                  ". . . . . . . . . . . ."                                                 
                  ". c c c c c c c c c c ."                                                    
                  "f f f f f f f f f f f f" ;
}

.navDiv{
    grid-area:m;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoDiv{
    grid-area:c;
    display:flex;
    justify-content: center;
    align-items: flex-start;        
}

.prolinkDiv{
    grid-area:f;
    display:flex;
    justify-content: center;
    align-items: center;    
}


@media screen and (min-width:501px){
    .homeDiv{                
        grid-template-areas: 
                ". . . . . . . . . . . ."
                ". . m m m m m m m m . ."   
                ". . . . . . . . . . . ."                                                 
                ". . c c c c c c c c . ."                                                    
                "f f f f f f f f f f f f" ;
    }    
}

@media screen and (min-width:801px){
    .homeDiv{                
        grid-template-areas: 
                ". . . . . . . . . . . ."
                ". . . m m m m m m . . ."   
                ". . . . . . . . . . . ."                                                 
                ". . . c c c c c c . . ."                                                    
                "f f f f f f f f f f f f" ;
    }    
}

@media screen and (min-width:1101px){
    .homeDiv{                
        grid-template-areas: 
                ". . . . . . . . . . . ."
                ". . . . m m m m . . . ."   
                ". . . . . . . . . . . ."                                                 
                ". . . . c c c c . . . ."                                                    
                "f f f f f f f f f f f f" ;
    }    
}



