.homeDiv{
    display:flex;
    width:100vw;     
    height:100vh; 
    padding-top:10vh;
    flex-direction:column;               
    align-items:center;         
    background-color:#60a677;
    background:linear-gradient(to bottom,#60a677,#226051,#226051,#60a677);
}
.navDiv{    
    display:flex;
    height:15vh;
    width: 100vw;
    padding-left:20px;
    padding-right:20px;
    justify-content: space-around;
    align-items: center;          
} 
.myName{
    font-size:26px;      
    letter-spacing:0px;
    font-family:fira sans, sans-serif;
    color:#002040;        
}
.infoDiv{        
    display:flex;   
    align-items: center;
    height:30vh;
    padding:30px;     
}
.prolinkDiv{
    position: absolute;
    bottom:8px;
}


@media screen and (min-width:641px){
    .navMain{
        padding:0px 45px;
    }
    .myName{
        font-size:28px;
        letter-spacing:.5px;
    }     
    .infoDiv{
        justify-content:center;
        align-items:center;
        height:50vh; 
        width:65vw;       
        position: absolute;
        top:25vh;
        bottom:25vh;
    } 
}
@media screen and (min-width:1025px){ 
    .navMain{
        padding:0px 60px;
    }
    .myName{
        font-size:30px;        
        letter-spacing:1px;
    }   
    .infoDiv{
        width: 42vw;
    }   
};