@import "../../styles/mixins.scss";

.outerDiv{    
    height:100vh;    
}
.main{    
    background:#fff;
    display:flex;
    flex-direction: column;
    align-items: flex-start;      
    min-width: 260px;  
    max-width: 600px;
    margin-left:20px;
    margin-right:20px;
    padding-top:40px;
    padding-bottom:40px;       
    @include mqCommon(400px){
        margin-left:40px;
        margin-right:40px;
        padding-top:50px;          
    }
    @include mqCommon(600px){
        margin-left:100px;        
        padding-top:80px; 
        width: 65%;       
    }
    @include mqCommon(800px){
        margin-left:140px;   
        padding-top:120px;             
        width: 58%; 
    }    
    @include mqCommon(1000px){
        margin-left:200px;  
        padding-top:130px;          
        width: 52%; 
    }
    @include mqCommon(1200px){
        margin-left:250px;  
        padding-top:140px;          
        width: 50%; 
    }
}
.title{
    font-size: 22px;
    font-family: Tillana,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
    font-weight:400;        
    color: #1B5E20;
    margin-bottom:15px;
    @include mqCommon(600px){
        font-size:24px;
        margin-bottom:20px;
    };
    @include mqCommon(800px){
        font-size:26px;
    };
    @include mqCommon(1000px){
        font-size:32px;
    }   
}
.menu{
    margin-bottom:25px;     
    @include mqCommon(600px){
        margin-bottom:30px;
    }     
    a{
        margin-right: 20px;    
        color:#00897B;    
        font-family: "oneday", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
        letter-spacing: 2px;
        font-size:13px;           
        &:hover{
            font-weight:bold;
        }
        @include mqCommon(600px){
          font-size:14px;
        }
        @include mqCommon(800px){
            font-size:16px;
          }        
    } 
}

.para{    
    font-family:'Alegreya Sans',"Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size:18px;
    line-height: 30px;
    word-spacing: 8px;        
    
     @include mqCommon(800px){
        font-size:20px;       
        line-height: 33px;       
     }
     @include mqCommon(1000px){
        font-size:22px;       
        line-height: 36px;       
     }
     
}
