.mainDiv{
    display:flex;    
    flex-direction:column;              
    padding:15px;
    background:#60a677;     
    border-radius:5px;       
}
.navLink{
    display:flex;
    align-items:center;
    font-size:18px;      
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';      
    font-weight:bold;    
    background:#ceb;
    color:#444;
    height:38px;       
    padding:4px 12px;  
    border-radius:1px;     
    transition:all .2s;    
}
.navLink:hover{    
    color:#333;
    transform: scale(1.01,1.15)
}

@media screen and (min-width:771px){
    .mainDiv{
        display:none;
    }
}