.navDiv{
    position:fixed;
    z-index:4;   
    top:11vh;     
    left:0;
    right:0;   
    padding-top:5vh;
    padding-left:20px;
    padding-right:20px; 
    background:#fff;              
}
.contentDiv{            
    position:absolute;   
    top: 160px;
    left:22px;
    right:22px;        
}
.displaybp{
    display:none;
}


@media screen and (min-width:771px){           
    .navDiv{
        top:19vh;
        left:50px;
        width:240px;
    } 
    .contentDiv{
        top:8vh;
        left:330px;   
        right:50px;             
    }                
    .displaybp{
        display:inline-block;        
    }
}
@media screen and (min-width:1025px) {          
    .navDiv{
        top:21vh;
        left:100px;
        width:280px;
    } 
    .contentDiv{
        top:10vh;
        left:430px;
        right:80px;        
    }               
}