.contentDiv{            
    position:absolute;   
    top: 500px;
    left:20px;
    right:20px;    
}


@media screen and (min-width:769px){           
    .contentDiv{
        top:9vh;
        left:320px;   
        right:50px;     
    }       
}
@media screen and (min-width:1025px) {          
    .contentDiv{
        top:11vh;
        left:430px;
        right:110px;        
    }            
}