.outerDiv{
      background:#fff;      
      display:flex;  
      flex-direction:row;
      align-items:center;      
      width:100%;    
      height:11vh;      
      padding-left:25px;
      padding-right:25px;        
      box-shadow:0px 0px 1px #777;     
}
.myNameDiv{
      height:100%;      
      display:flex;
      align-items:center;      
      width:225px;                                         
}
.myName{
      font-size:13px;
      color:#529468;                        
      font-family:space comics;          
      font-weight:normal;        
}
.myName:hover{
    color:#327047;
}

@media screen and (min-width:641px){   
    .myNameDiv{
        width:300px; 
    }
    .myName{              
      font-size:14px;  
    }        
}

@media screen and (min-width:1025px){   
    .outerDiv{
        padding-left:70px;  
        padding-right:70px;           
    }
    .myName{
        font-size:15px;
    }
}