.routeDiv{
    position:relative;
    top:11vh;
}

@media screen and(max-height:455px){
    .routeDiv{
        top:50px;
    }
}
@media screen and(min-height:909px){
    .routeDiv{
        top:100px;
    }
}