.routeDiv{
    position:relative;
    top:11vh;
}

@media screen and(max-width:480px){
    .routeDiv{
        top:48px;
    }
}
@media screen and(min-width:901px){
    .routeDiv{
        top:95px;
    }
}